@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: DM Sans;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #1E0E62;
    padding-top: 30px;
    padding-bottom: 30px;
}

table,
th,
td {
    border: 2px solid #EBEAED;
    border-collapse: collapse;
    padding: 10px;
}

.col-heading {
    font-family: DM Sans;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #1E0E62;
}

.col-text {
    font-family: DM Sans;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #1E0E62;
}

.p-1 {
    font-family: DM Sans;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: center;
    color: #1E0E62;
}

.s-1 {
    font-size: 16px;
    position: absolute;
    top: -18px;
    left: 119px;
}

.pstn {
    position: relative;
}

.p-box {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: #EBEAED;
    display: flex;
}

.p-click {
    background: #25DAC5;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mgn{
     margin-left: auto;
    margin-right: auto;
}
.row-hrading {
    font-family: DM Sans;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: right;
    color: #15143966;
}

.h-1 {
    background: #F5F5F6;
}

.get {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: 230px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-1 {
    border: 2px solid #EBEAED;
}

.border-2 {
    background: #25DAC5;
    border: 2px solid #25DAC5;
}